{{- range $val := .Alerts }}
  {{$severity := index $val.Labels "severity" -}}
  {{if $val.EndsAt}}
  💚 {{ index $val.Labels "alertname" }}
  {{else if eq $severity "warning" -}}
  💛 {{ index $val.Labels "alertname" }}
  {{else if eq $severity "critical" -}}
  ❤️ {{ index $val.Labels "alertname" }}
  {{else if eq $severity "error" -}}
  💔 {{ index $val.Labels "alertname" }}
  {{else -}}
  ⚠️ {{ index $val.Labels "alertname" }}
  {{ end -}}
  ```
  {{ index $val.Annotations "description"}}
  ```
  *Severity*: {{ $severity | ToUpper }}
  *Started*: {{ $val.StartsAt }}
  {{if $val.EndsAt -}}
  *Ended*: {{ $val.EndsAt }}
  {{ end }}
{{- end }}